.RecipeList {
  flex-basis: 60%;
  flex-direction: column;
  padding: 1rem 3rem;
  display: flex;
  border-right: 2px dashed #333;
}

.RecipeList .Headings {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.RecipeList .Headings h1 {
  font-size: 3rem;
  font-weight: 800;
}
