@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  align-items: center;
  /* text-align: center; */
}

/* Utils */

/* buttons */
.btn {
  border: none;
  border-radius: 0.5rem;
  padding: 0.2rem 0.7rem;
  margin: 0.5rem;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
}

.primary {
  background-color: rgb(120, 194, 173);
}
.primary:hover {
  background-color: rgb(93, 153, 136);
}
.secondary {
  background-color: rgb(243, 150, 154);
}
.secondary:hover {
  background-color: rgb(206, 125, 129);
}
.warning {
  background-color: rgb(255, 206, 103);
}
.warning:hover {
  background-color: rgb(190, 154, 76);
}
.danger {
  background-color: rgb(255, 120, 81);
}
.danger:hover {
  background-color: rgb(206, 95, 64);
}

/* Fonts */

/* bold */
.bold {
  font-weight: 700;
}
